.customselect-container{
	font-size: large;
	position: relative;
}

.customselect-selected{
	width: 100%;
  text-transform: capitalize;
}

.customselect-options{
	z-index: 1000;
	border-radius: $curve;
	border:$border 2px solid;
	background: $el;
	top:110%;
	width:100%;
	display:none;
	flex-direction: column;
	gap:.1rem;
	padding:.5rem;
	position:absolute;
	
	button{
    text-transform: capitalize;
		border:none;
	}

	.hover{
		filter: brightness(1.1);
		border:2px $border solid;
		margin:-2px;
	}
}

.customselect-container:focus-within  .customselect-options{
	display:flex;
}

