.header{
	display:flex;
	justify-content: space-between;
	padding-inline: min(5rem,2%);
	padding-block: 1rem;
	margin-bottom:1rem;
	h1{
		font-size: min(2rem,5vw);
		font-family: Nunito Sans;
		letter-spacing: 1px;
		align-self: center;
		font-weight: 800;
		white-space: nowrap;
	}
}

.link{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}

.theme{
	border-radius: $curve;
	display: flex;
	align-items: center;
	gap:min(.5rem, 1vw);
	border:none;
	cursor: pointer;
	border: none;
	padding:.4rem .5rem;

	svg{
		&>*{
			stroke: $text;
			fill: $text;
		}
	}
	span{
    display:none;
    @media (min-width:1000px){
    display: block;
    font-size: min(2rem,6vw);
		align-self: center;
		font-weight: 600;
  }
	}
}

.container{
	min-height: 100vh;
}

