.header{
	display:flex;
	justify-content: space-between;
	padding: .7rem min(5rem,2%);
	h1{
		font-size: min(2rem,5vw);
		font-weight: 900;
		white-space: nowrap;
	}
}

.theme-selector{
	align-self: center;
	display:flex;
	gap:0.5rem;
	cursor: pointer;
	border: none;

	span{
		align-self: center;
		font-weight: 600;
		font-size: min(2rem,5vw);
	}
	svg{
		align-self: center;
		transform: translateY(-0.1rem);
		width: min(2rem,5vw);
		aspect-ratio: 1;
	}
}

.container{
	height: 100vh;
}

