$text:var(--text);
$el:var(--el);
$bg:var(--bg);
$border:var(--border);
$curve:var(--curve);
$hover:var(--hover);

//Fonts
:root{
	@font-face {
		font-family: Nunito Sans;
		src: local(Nunito Sans),
			url(./assets/NunitoSans_10pt-ExtraBold.ttf) format('truetype');
		font-weight: 800;
	};
	@font-face {
		font-family: Nunito Sans;
		src: local(Nunito Sans),
			url(./assets/NunitoSans_10pt-SemiBold.ttf) format('truetype');
		font-weight: 600;
	};
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size:inherit;
	font-weight: 700;
	color:$text;
}

.button{
	display: block;
	appearance: none;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	padding:.5em .2em;
	border:2px $border solid;
	background: $el;
	border-radius: $curve;
	text-align: center;
	&:hover, &:focus{
			filter: $hover;
	}
}

.bg{
	background: $bg;
}

.el{
	background: $el;
}

body{
	font-family: Nunito Sans;
}

.container{
	--curve:.4rem;
	background: $bg;
	min-height: 100svh;
}

.container.dark{
	--text:hsl(0, 0%, 100%);
	--el:hsl(209, 23%, 25%);
	--bg:hsl(207, 22%, 10%);
	--border: hsl(0,0%,40%);
	--hover:brightness(1.1);
}
.container.light{
	--text:hsl(0, 0%, 0%);
	--el: hsl(0, 0%, 100%);
	--bg: hsl(0, 0%, 85%);
	--border: hsl(0,0%,60%);
	--hover:brightness(0.9);
}



