 
.filter{
	display:flex;
	width: 100%;
	font-size: large;
	font-weight: 600;
	justify-content: space-between;
	align-items: center;
	padding-inline: min(5rem,2%);
	padding-block: 1rem;
	grid-column-start: 1;
	grid-column-end: -1;

	.search{
    color:black;
    background: white;
		justify-self: flex-start;
		width: min(60vw, 30rem);
		border-radius: $curve;
		padding: .8rem;
		border:$border 2px solid;
	}
	&-select{
		width: min(50vw,15rem);
	}


	@media (max-width:650px){
		justify-content: center;
		align-items: center;
		gap: 2rem;
		flex-direction: column;

		.search-box{
			width: min(20rem,90%);
			border-radius: .5rem;
			font-size: large;
			font-weight: 600;
			padding: .5rem;
			border:none;
		}
	}
}

.home-grid{
	display: grid;
	min-height: 100%;
	grid-template-columns: repeat(auto-fill, 20rem);
	row-gap: 3rem;
	justify-content: center;
	justify-items: center;
}

.country-card{
	height:22rem;
	width: 17rem;
	background: $el;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: ease-in 100ms transform;

	&:focus-within{
		border: $text 2px solid;
	}

	&:hover{
		transform: scale(1.02);
	}
	a{
		appearance: none;
		text-decoration: none;
		color: inherit;
	}

	img{
		width:100%;
		height:10rem;
    object-fit:cover;
	}
	.description{
		padding:.1rem 1rem .5rem 1rem;

		h2{
			font-size:x-large;
			max-lines: 2;
			overflow-y: hidden;
			max-height: 4em;
			margin-bottom: .75rem;
		}
		spab,p{
			font-size: large;
		}

		span{
			font-weight: 600;
		}
	}
}
